.rounded:hover{
    background-color: #444445 !important;
}



@media only screen and (max-width: 481px){
    .Card{
        overflow-x: scroll;
        flex-wrap: wrap;
        justify-content: center;
    }
    .card{
        width: 15rem !important;
        height: fit-content !important;
        margin: 0.25rem 0;
    }
}